data/
# Ignorar todas as imagens JPG e JPEG
*.jpg
*.jpeg
*.png
# Exemplo de linhas para adicionar no seu .gitignore
training/datasets/
training/runs/
*.txt
# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Modelos e Pesos (Arquivos Pesados) ---
*.pt
*.onnx
*.engine
# Se quiser manter apenas o seu melhor modelo no Git,
# você pode ignorar todos e abrir uma exceção, mas o ideal é
# não subir arquivos binários grandes.

# --- YOLO e Treinamento ---
runs/
*.cache
# Ignora as pastas de resultados de treino que o YOLO cria automaticamente
# (Você deve subir apenas as fotos de métricas manualmente se desejar)

# --- Dataset (Opcional, mas recomendado) ---
# Geralmente não subimos o dataset inteiro (imagens) para o Git
# por causa do limite de espaço e performance.
dataset/images/
dataset/labels/*.cache

# --- Arquivos Temporários do Sistema/IDE ---
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

# --- Arquivos de Debug que criamos ---
croped_medicine.jpg
debug_deteccao.jpg