data/
*.jpg
*.jpeg
*.png
training/datasets/
training/runs/
*.txt

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# --- Modelos e Pesos (Arquivos Pesados) ---
*.pt
*.onnx
*.engine

# --- YOLO e Treinamento ---
runs/
*.cache

# --- Dataset ---
dataset/images/
dataset/labels/*.cache

# --- Arquivos Temporários do Sistema/IDE ---
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

# --- Arquivos de Debug que criamos ---
croped_medicine.jpg
debug_deteccao.jpg