# Servidor Web e API
fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9

# IA e Visão Computacional
ultralytics==8.3.162         # Para o YOLOv8 (Suporte/Detecção)
easyocr==1.7.1            # Para o OCR (Leitura do texto)
opencv-python-headless    # Processamento de imagem sem GUI
numpy==1.26.4             # Base matemática para imagens

# Utilitários
python-dotenv             # Para gerenciar variáveis de ambiente
pydantic==2.6.3           # Validação de dados JSON

# Testes
pytest
httpx